---
layout: default
---
<head>
	<!--<title>Your Website Title</title>-->
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<!--<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Your Website Title" /> -->
	<meta name="description" content="I write sometimes. Sometimes, it rhymes in words others, in emotions. I call them sribbles.">
	<!--<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />-->
</head>
<div class="top-strip"></div>
<main class="content">
	<section>
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		} (document, 'script', 'facebook-jssdk'));</script> 
	</section>
    <section class="container">
    	<div class="row-fluid">
    		<article class="home-icon">
				<a href="/">
					<i class="icon-home"></i> 
				</a>
			</article>
			<article class="post">
				
				<h2 class="content">{{page.title}}</h2>
				
				<section id ="share buttons">
					<!--<span><a href="https://twitter.com/share" class="twitter-share-button" data-via="rishigb" data-size="small"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span> -->
						

					<span class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button_count" ></span>
				</section>
				<hr>
				<h5>{{ page.date | date: "%d %B %Y" }}</h5>
				<section>
					{{ content }}

					
					<hr>
				</section>
				<section style="font-weight:bold; margin-bottom: 2em;">
					{% if page.previous %} 
							<a rel="prev" class="a-hover"href="{{ page.previous.url }}"><i class="icon-double-angle-left"></i> {{ page.previous.title }}</a>
						{% endif %}
						{% if page.next %} 
							<a rel="next" style="float:right" class="a-hover"href="{{ page.next.url }}">{{ page.next.title }} <i class=" icon-double-angle-right"></i></a>
					{% endif %}
				</section>
				

			</article>
		</div>
	</section>
</main>
